{% load static %}
<div id="visualizationPanel" class="withTransition configurationPanel">
    <h3>Visualization</h3>
    {% include "visualizationPanel/meshLoaderItem.html" %}
    {% include "visualizationPanel/animationItem.html" %}
    {% for transformer, parameters in transformers.items %}
        {% if transformer.displayedByDefault %}
            {% include "visualizationPanel/transformers/transformerItem.html"%}
        {% endif %}
    {% endfor %}
    <div id="addTransformerItem" class="configurationItem">
        <h3>Add new transformer</h3>
        <div id="addTransformerForm">
            <select id="transformerTypeSelector">
            </select>
            <button id="buttonAddTransformer">
                <img id="addTransformer" src="{% static "svg/buttonAddTransformer.svg" %}"/>
            </button>
        </div>
    </div>
</div>
<div id="foldVisualizationPanelButton" class="foldButton withTransition">
    <svg class="w-6 h-6 text-gray-800 dark:text-white withTransition" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m9 5 7 7-7 7"/>
    </svg>
</div>
