{% load static %}
<canvas id="c" width= "640" height="480"></canvas>

<div id="stats">
    <div id="renderingFps">
        FPS : NaN
    </div>
    <div id="totalMs">
        Total : Nan
    </div>
    <div id="renderingMs">
        Rendering : NaN
    </div>
    <div id="pickingMs">
        Picking : Nan
    </div>
    <div id="updateMs">
        Update : Nan
    </div>
</div>



<script src="{% static 'js/index.js' %}" type="module"></script>
{% comment %} <canvas> CANVA </canvas> {% endcomment %}
