{% load static %}
<div id="configurationPanel" class="withTransition">
    <select name="model" id="modelSelector">
        {% for name in modelsName %}
        <option value="{{name}}">{{name}}</option>
        {% endfor %}
    </select>
    {% include "rulesItem.html" %}
    {% for transformer, parameters in transformers.items %}
        {% if transformer.displayedByDefault %}
            {% include "transformers/transformerItem.html"%}
        {% endif %}
    {% endfor %}
    {% include "animationItem.html" %}
    <div id="addTransformerItem" class="configurationItem">
        <h3>Ajouter un nouveau transformer</h3>
        <div id="addTransformerForm">
            <select id="transformerTypeSelector">
                {% for transformerType in model.getTransformerType %}
                    <option value="{{transformerType}}">{{transformerType}}</option>
                {% endfor %}
            </select>
            <button id="buttonAddTransformer">
                <svg id="addTransformer" width="800px" height="800px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <g id="Complete">
                <g id="add-square">
                <g>
                <rect data-name="--Rectangle" fill="none" height="20" id="_--Rectangle" rx="2" ry="2" stroke="var(--color-lighter)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" width="20" x="2" y="2"/>
                <line fill="none" stroke="var(--color-lighter)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" x1="15.5" x2="8.5" y1="12" y2="12"/>
                <line fill="none" stroke="var(--color-lighter)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" x1="12" x2="12" y1="15.5" y2="8.5"/>
                </g>
                </g>
                </g>
                </svg>
            </button>
        </div>
    </div>
</div>
<div id="foldButton" class="withTransition">
    <svg class="w-6 h-6 text-gray-800 dark:text-white withTransition" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m9 5 7 7-7 7"/>
  </svg>
</div>