{% load static %}
<header>
    <h1>ALife Simulator</h1>

    <div id="stats">
        <h4 id="renderingFps" class="statItem">
            FPS : NaN
        </h4>
        <h4 id="totalMs" class="statItem">
            Total : Nan
        </h4>
        <h4 id="renderingMs" class="statItem">
            Rendering : NaN
        </h4>
        <h4 id="pickingMs" class="statItem">
            Picking : Nan
        </h4>
        <h4 id="updateMs" class="statItem">
            Update : Nan
        </h4>
    </div>

    <div id="headerAction">
        <button id="buttonPlay">
            <img src="{% static "svg/buttonPlay.svg" %}" title="Play"/>
        </button>
        <button id="buttonPause">
            <img src="{% static "svg/buttonPause.svg" %}" title="Pause"/>
        </button>
        <button id="buttonReset">
            <img src="{% static "svg/buttonReset.svg" %}" title="Reset"/>
        </button>
        <button id="buttonSpeed">
            <img src="{% static "svg/buttonSpeed.svg" %}" title="Speed control"/>
        </button>
        <div id="animationTimer">
            <input type="range" id="inputTimer" name="timer" min="0" max="11"/>
            <label id="labelTimer" for="inputTimer">timer</label>
        </div>
    </div>
</header>
