<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/canvas.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/configurationPanels.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/visualizationPanel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/simulationPanel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animationItem.css' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "css/favicon-16x16.png" %}">
</head>

<body>
    {% include "header.html" %}

    <div id="simulator">
        {% include "simulationPanel/simulationPanel.html" %}
        {% include "canvas.html" %}
        {% include "visualizationPanel/visualizationPanel.html"%}
    </div>
</body>
