.withTransition {
    transition: transform 330ms ease-out;
}

#configurationPanel {
    width: 350px;
    background-color: var(--color-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
}


#configurationPanel>select{
    margin: 10px;
}

#foldButton {
    width: 20px;
    height: 60px;
    position: absolute;
    right: 350px;
    top: calc(50% - 30px);
    background-color: var(--color-dark);
    border-radius: 15px 0px 0px 15px;
    display: flex;
}

.hidden {
    transform: translateX(350px);
}

.hidden svg {
    transform: rotate(180deg);
}

#foldButton svg {
    color: var(--color-lighter);
}

#foldButton:hover {
    cursor: pointer;
}

.configurationItem {
    background-color: var(--color-lighter);
    margin: 10px;
    margin-bottom: 0px;
    padding: 10px;
    width: calc(100% - 40px);
}

.configurationItem:last-child {
    margin-bottom: 10px;
}

.configurationItem * {
    margin: 0px;
}

.parametersList, .visualizationInput {
    margin: 10px;
    padding-left: 10px;
    border-left: solid var(--color-light) 1px;
}

.parameterItem {
    display: flex;
    margin: 10px;
}

.parameterItem * {
    margin-right: 10px;
    display: flex;

}

input,button,select {
    border: solid var(--color-action) 2px;
    border-radius: 4px;
}

input[type=number] {
    width: 50px;
    height: 20px;
    text-align: center;
}

input[type=number]:focus {
    outline: none;
}

h3, h4 {
    font-family: Inria-Light;
}

.visualizationInput {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.visualizationInput > select {
    height: 27px;
}

.visualizationInput .transformerParam {
    display: flex;
    flex-direction: column;
}