header {
    z-index: 1;
    position: sticky;
    top: 0px;
    padding: 0px 70px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-midDark);
    align-items: center;
    height: 60px;
}

header h1 {
    font-size: 1.75em;
    color: white;
}

div#stats {
    display: flex;
}

.statItem {
    width: 140px;
    margin: 5px;
    padding: 5px;
    background-color: var(--color-light);
    font-family: Inria-Regular;
    font-weight: 100;
    border-radius: 3px;
    overflow: hidden;
}

header #headerAction {
    display: flex;
    align-items: center;
}

#headerAction button {
    margin-right: 10px;
    width:  35px;
    height: 35px;
    padding: 0px;
    transition: background-color 0.2s;
}

#headerAction button:hover, #headerAction button.active {
    background-color: var(--color-light);
}   

#headerAction button svg{
    width: 100%;
    aspect-ratio: 1;
}

header h1 {
    margin: 0px;
}

#animationTimer {
    background-color: rgba(188, 204, 209, 0.9);
    position : fixed;
    top: 60px;
    right: 15px;
    width : 300px;
    height: 40px;
    text-justify: center;
    display: none;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

#animationTimer label{
    text-align: center;
}
