@font-face {
  font-family: 'Inria-Regular';
  src: url('InriaSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inria-Light';
  src: url('InriaSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inria-Bold';
  src: url('InriaSans-Bold.ttf') format('truetype');
}

:root {
    --color-dark: #062d38;
    --color-midDark: #0a3b49;
    --color-light: #bcccd1;
    --color-lighter: #f3f6f8;
    --color-action: #ff9d2d;
}

body {
  font-family: Inria-Light !important;
  margin: 0px;
}

h1,h2, h3{
  font-family: Inria-Bold;
}

h4,h5,h6 {
  font-family: Inria-Regular;
}

div#simulator {
  display: flex;
  position: absolute;
  top: 60px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  overflow: hidden;
}

button {
  cursor: pointer;
}

.transformerItem {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0px !important;
}